body{
	background-color: #f0f0f0;
	margin:0px;
	padding: 0px;
}


#halaman1{
	height: auto;
	background-color: white;
}

#atas{
	background-color: #0094d3;
	height: 100px;
}
#atas2{
	background-color: #615e61;
	height: 150px;
}
#logo{
	float: left;
	width: 100px;
	margin-left: 20px;
	margin-top: 20px;
}
.menu{
	float: right;
	margin-right: 100px;
	margin-top: 20px;
	position: relative;
	width: 400px;
	height: 20px;	
	
}

#menu2{
	width: 600px;
	height: 40px;
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 780px;
	position: absolute;
}

.dropdown {
  overflow: hidden;

}

#deskripsi{
	width:auto;
	height: 100px;
	background-color: #789f23;
	margin-top: 0px; 
}

#menubawah{
	width: 1000px;
	height: 600px;
	background-color: grey;
	position: relative;
	margin: auto;
}
#menukiri{
	width: 500px;
	height: 600px;
	position: relative;
	float: left;
	font-size: 20px;

}
#menukanan{
	width: 500px;
	height: 300px;
	float:left; 
	font-size: 20px;
}
#menukanan2{
	width: 500px;
	height: 300px;
	font-size: 20px;
	
}

p{
	text-align: justify;
	
}
#paragraf{
	width: 1000px;
	height: 200px;
	margin: auto;
	margin-top: 0px;
}
#footer{
	width: auto;
	height: 300px;
	background-color: #615e61;
}
#footer1{
	width: 400px;
	height: 300px;
	
	float: left;
}

#footer2{
	width: 400px;
	height: 300px;
	
	float: left;
}
#footer3{
	width: 400px;
	height: 300px;
	
	float: left;
}
#footer4{
	width: auto;
	height: 300px;
	background-color: white;
	float: left;
}

#link1 a:visited{
	color: white;
}
#link1 a:hover{
	color:grey;
}
#link1 a:active{
	color:red;
}

#atas2 a:hover{
	background-color: #c0c0c0;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  width: 500px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */


/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

table, th, td
          {
               border: 1px solid black;
          }

#php1{

	
}

#riset{
	background-color: #f0f0f0;
}